header {
  border-bottom: 1px solid var(--border-gray);
  background-color: var(--bg-gray);
}

header .desktop-container {
  max-width: var(--container-xl);
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #818570;
}

/* Este <a> viene del componente <Link> */
header .logo-container a {
  display: flex;
  margin-left: 50px;
  align-items: center;
  color: #545647;
  text-decoration: none;
}

header .logo-container span {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: 700;
}

main .desktop-container {
  max-width: var(--container-xl);
  margin: 0 auto;
}
